<style>
    .container {
      max-width: 50%;
      margin: 0 auto;
    }
    .post {
      font-family: Avenir Next, Avenir, helvetica;
    }
    .header {
      font-size: 24px;
      line-height: 1.8;
      text-transform: uppercase;
    }
    .text {
      font-size: 18px;
      line-height: 1.4;
    }

  </style>
